.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 0 0.5em 0.5em 0;
      flex: 0 0 auto;
      font-size: 1.125em;
      font-weight: bolder;
      @include screen('xs_mobile') {
        flex: 1 1 auto;
      }
    }
  }
  a {
    padding: 0.4em 2em;
    display: block;
    color: #333;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #ddd;
    border: 1px solid #ddd;
    text-align: center;
    &:hover,
    &:focus {
      color: #fff;
      background-color: $color-hr;
      border: $color-hr;
      border: 1px solid$color-hr;
      box-shadow: none;
    }
    &.active {
      color: #fff;
      background-color: $color-hr;
      border: 1px solid$color-hr;
    }
    em {
      font-size: 0.938em;
      font-style: normal;
      margin-left: 0.5em;
      // &:before {
      //   content: '(';
      //   display: inline-block;
      // }
      // &:after {
      //   content: ')';
      //   display: inline-block;
      // }
    }
  }
}
