@charset "utf-8";
// 文章標題
h1.title,
h2.title {
  line-height: 1.25em;
  margin: 0.4em 0;
}

// .tt{ color: #222; }
.cp {
  .pic {
    margin: 0 0 1em;
    width: auto;
    max-width: 400px;
    overflow: hidden;
    padding: 0.5em 0.5em 0.2em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    figcaption {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  table {
    background: #fff;
  }
  ul,
  ol {
    font-size: 1em;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
  }
}

.cp_data_block {
  display: flex;
  position: relative;
  margin-bottom: 3em;
  // 詳目資訊btn
  .cp_data_btn {
    display: none;
    position: absolute;
    left: -2em;
    top: 2em;
    z-index: 1;
    width: 1.5em;
    @include screen('tablet') {
      display: block;
    }
    @include screen('xs_mobile') {
      left: -2em;
    }
    a {
      color: #fff;
      display: block;
      background-color: $color-hr;
      padding: 2em 0.5em 0.5em;
      border-radius: 5px 0 0 5px;
      width: 2em;
      position: relative;
      &:before {
        content: '';
        border: 2px solid #fff;
        border-right: none;
        border-bottom: none;
        transform: rotate(135deg);
        position: absolute;
        top: 0.8em;
        left: 0.6em;
        width: 8px;
        height: 8px;
      }
      &.open {
        &:before {
          left: 0.8em;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .cp_data_left {
    flex: 0 0 auto;
    flex-basis: 235px;
    padding-right: 50px;
    box-sizing: border-box;
    @include screen('tablet') {
      position: absolute;
      left: calc(-235px - 4em);
      top: 0;
      bottom: 0;
      width: 235px;
      transition: 0.5s;
      z-index: 2;
      background-color: #eee;
      padding: 0 25px;
      &.open {
        left: 0.5em;
      }
    }
    @include screen('mobile') {
      left: calc(-235px - 2em);
      &.open {
        left: 0.5em;
      }
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      left: calc(-100% - 2em);
      &.open {
        left: 0.5em;
      }
    }
    .tabSet {
      max-height: 350px;
      overflow: visible;
    }
    .pic_block {
      width: 160px;
      margin: 0 auto 4em;
    }
    .document_block {
      width: 160px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .data_btn_list {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          margin-bottom: 0.5em;
          a {
            display: block;
            background-color: $secondaryColor;
            color: #fff;
            text-align: center;
            padding: 0.5em;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
              background-color: darken($color: $secondaryColor, $amount: 10);
            }
          }
        }
      }
    }
  }
  .cp_data_right {
    flex: 1 1 auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 2em 2em 3em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
    @include screen(xs_mobile) {
      padding: 2em 1.5em;
    }
  }
}

// pdf檔案block 崁入
.pdf_block {
  margin: 0 0 1em;
  padding: 0.5em;
}

// 表格裡的檔案圖
.file_type_pic {
  width: 30px;
  margin: 0 auto;
  @include screen('xs_mobile') {
    margin: 0;
  }
  img {
    width: 100%;
  }
}

// 延伸資料
.extended_information_block {
  display: flex;
  margin: 1em 0;
  @include screen('mobile') {
    flex-wrap: wrap;
  }
  .extended_information_group {
    flex: 0 0 auto;
    flex-basis: 50%;
    padding: 0 2em 0 4em;
    border-right: 2px solid #333;
    text-align: center;
    &:last-of-type {
      border: none;
    }
    h3 {
      text-align: center;
      margin: 0 0 1em;
      padding: 0;
    }
    ul {
      margin: 0 0 1em;
      padding: 0;
      list-style-type: none;
      li {
        text-align: left;
        a {
          display: block;
          padding: 0.5em 0.5em 0.5em 1.5em;
          position: relative;
          color: $color-dark;
          &:before {
            content: '';
            width: 0.5em;
            height: 2px;
            position: absolute;
            left: 0;
            top: 1.3em;
            background-color: #333;
          }
          &:hover {
            color: $aHover;
          }
        }
      }
    }
    @include screen('tablet') {
      padding: 0 2em;
    }
    @include screen('mobile') {
      padding: 0 2em 2em;
      flex-basis: 100%;
      margin-bottom: 3em;
      border-right: none;
      border-bottom: 2px solid #333;
    }
    @include screen('xs_mobile') {
      padding: 0 0 2em;
    }
    .more {
      a {
        background-color: $secondaryColor;
        color: #fff;
        &:hover {
          background-color: darken($secondaryColor, 5);
        }
      }
    }
  }
}

// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $primaryColor;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.32em;
      left: 0.1em;
      color: #666;
    }
    .file_name {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
    span {
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;
          &:hover,
          &:focus {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;
          &:hover,
          &:focus {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;
          &:hover,
          &:focus {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        a {
          background: #c00;
          &:hover,
          &:focus {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        a {
          background: #eb712e;
          &:hover,
          &:focus {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        a {
          background: #555;
          &:hover,
          &:focus {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        a {
          background: #009999;
          &:hover,
          &:focus {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;
          &:hover,
          &:focus {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        a {
          background: #6c29a4;
          &:hover,
          &:focus {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        a {
          background: #430a1f;
          &:hover,
          &:focus {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}

// 外部連結
.web_link {
  margin: 1em 0;
  @extend %clearfix;
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $primaryColor;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.5em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.35em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting_nocolor;
    }
  }
}
