/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
  display: block;
  width: 10em;
  text-align: center;
  height: 2.5em;
  margin: 0.5em auto 0.5em;
  line-height: 2.5;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    right: -10px;
    top: 14px;
    border-left: none;
    border-bottom: none;
    transition: 0.5s ease-out;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primaryColor;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:focus,
  &.active {
    color: white;
    &:before {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    &:after {
      right: 15px;
    }
  }
}

.more {
  display: inline-block;
  text-align: center;
  a {
    display: block;
    padding: 0.4em 2em;
    background-color: darken($primaryColor, 15);
    color: #fff;
    border-radius: 50px;
    &:hover {
      padding: 0.4em 3em;
      background-color: darken($primaryColor, 20);
    }
  }
}

// 範例：
// .demosection {
//     [class^='col'] {
//         border: 2px solid #fff;
//         background: #dedede;
//     }
// }
//簡易查詢
.Search_block {
  padding: 3em 0 7em;
  @include screen('mobile') {
    padding: 6em 0 7.8em;
  }
  &.Advanced_block {
    @include screen('mobile') {
      padding: 3em 0 7.8em;
    }
  }
  .search_groupall {
    width: 65%;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1200px) {
      width: 75%;
    }
    @include screen('tablet') {
      width: 70%;
    }
    @include screen('mobile') {
      width: 85%;
    }

    &:before {
      content: '';
      width: 364px;
      height: 346px;
      position: absolute;
      bottom: -294px;
      left: -188px;
      background-image: url('../images/search_bg01.png');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
    &.Advanced_group {
      @include screen('mobile') {
        width: 90%;
      }
      @include screen('xs_mobile') {
        width: 95%;
      }
      &:before {
        content: '';
        width: 364px;
        height: 346px;
        position: absolute;
        bottom: -156px;
        left: -257px;
        background-image: url('../images/search_bg01.png');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
      }
      @include screen('mobile') {
        &:before {
          height: 301px;
          bottom: -148px;
          background-image: url('../images/search_bg02.png');
        }
      }
      @include screen('xs_mobile') {
        &:before {
          display: none;
        }
      }
    }
    h2 {
      color: #fff;
      font-size: 1.625em;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      margin: 0 0 0.3em 1.5em;
      padding: 0;
      span {
        display: block;
        color: $lightColor;
        font-size: 0.688em;
        padding: 0;
      }
    }
    h3 {
      color: $secondaryColor;
      margin: 0 0 0.5em;
      padding: 0;
    }
    // 簡易內容
    .search_content {
      background-color: #fff;
      border-radius: 1.5em;
      padding: 2.5em;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      label {
        padding-left: 0;
        line-height: 1.8em;
      }
      @include screen('xs_mobile') {
        padding: 2.5em 1.5em;
      }
      .form_grp {
        border: none;
        padding: 0;
        .form_content {
          max-width: 100%;
          flex-basis: 100%;
          .radio_grp {
            margin-left: 1em;
          }
        }
      }
      .searchsimple {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        align-items: center;
        position: relative;
        .title {
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
        }
        label {
          margin-right: 0.2em;
        }
        input {
          margin: 0;
          padding: 0.25em 0;
          box-shadow: none;
          width: auto;
          &[type='checkbox'] {
            width: 1.3em;
            height: 1.3em;
            border-radius: 2px;
            margin: 0.3em;
          }
          &[type='text'] {
            flex: 0 0 auto;
            flex-basis: calc(100% - 185px);
            padding: 0.2em 0em 0.5em;
            border: none;
            font-size: 1.375em;
            border-bottom: 2px solid #c4c4c4;
            border-radius: 0;
            @include screen('mobile') {
              flex-basis: 100%;
              width: 100%;
              margin-bottom: 0.5em;
              padding: 0.2em 0em;
            }
          }
          &[type='submit'] {
            padding: 0.2em 0;
          }
          &.btn-search {
            font-size: 0;
            background-image: url('../images/search_btn.png');
            background-repeat: no-repeat;
            background-position: center;
            flex: 0 0 auto;
            flex-basis: 40px;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            margin-left: -40px;
            @include screen('mobile') {
              margin-top: -15px;
            }
            @media screen and (max-width: 380px) {
              position: absolute;
              top: 13px;
              right: 0;
            }
          }
          &:focus {
            box-shadow: 0 0px 0px 2px $aFocus;
          }
        }
        .advanced_btn {
          flex: 0 0 auto;
          flex-basis: 175px;
          padding: 0.5em 1em 0.3em;
          background-color: $secondaryColor;
          border: 1px solid $secondaryColor;
          color: #fff;
          border-radius: 50px;
          box-sizing: border-box;
          line-height: 1.2em;
          margin-left: 10px;
          text-align: center;
          font-size: 1.125em;
          span {
            display: block;
            font-size: 0.875em;
          }
          @include screen('mobile') {
            flex-basis: 100%;
            padding: 0.5em 1em 0.5em;
            margin: 0;
          }
          &:hover,
          &:focus {
            background-color: darken($secondaryColor, 8);
            border: 1px solid darken($secondaryColor, 8);
          }
        }
      }
      .keywordHot {
        flex: 1 1 100%;
        margin-top: 0.8em;
        ul {
          line-height: 1.65em;
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          list-style-type: none;
          li {
            margin: 0 0.2em 0.2em 0;
            padding: 0;
            flex: 0 0 auto;
            font-size: 1em;
            @include screen('xs_mobile') {
              flex-basis: 48%;
              margin: 0 1% 0.5em;
            }
            @media screen and (max-width: 480px) {
              flex-basis: 100%;
              margin: 0 0 0.5em;
            }
          }
          a {
            @include aSetting_nocolor;
            display: block;
            background-color: $color-gray;
            color: $color-dark;
            border-radius: 50px;
            padding: 0.2em 1em;
            transition: 0.5s;
            font-weight: bold;
            @include screen('xs_mobile') {
              text-align: center;
            }
            &:hover {
              background-color: $color-dark;
              color: #fff;
            }
          }
        }
      }
    }
    // 進階內容
    .Advanced_search_content {
      background-color: #fff;
      border-radius: 1.5em;
      padding: 2.5em;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      label {
        padding-left: 0;
        line-height: 1.8em;
      }
      @include screen('xs_mobile') {
        padding: 2.5em 1.5em;
      }
      .form_grp {
        border: none;
        .form_title {
          max-width: auto;
          flex: 0 0 auto;
          min-width: 100px;
          padding-right: 1em;
        }
        .form_content {
          flex: 1 1 auto;
          max-width: auto;
          flex-basis: auto;
          @media screen and (max-width: 767px) {
            max-width: 100%;
            flex-basis: 100%;
          }
        }
        .form_inline {
          select {
            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }
        }
      }
      .withinblock {
        margin-bottom: 0.5em;
        .form_content {
          flex-wrap: wrap;
          flex-basis: 100%;
          max-width: 100%;
          .search_group {
            display: flex;
            align-items: center;
            width: 100%;

            input,
            select {
              margin-left: 0;
              margin-right: 0;
              width: 100%;
            }

            .search_left {
              flex: 0 0 auto;
              flex-basis: 100px;
              // outline: 1px solid red;
              padding: 0 3px 0 0;
              &.nocontent {
                label,
                select {
                  display: none;
                }
              }
              &.nothis {
                display: none;
              }
            }
            .search_middle {
              flex: 1 1 auto;
              // outline: 1px solid red;
              padding: 0 3px 0 0;
            }
            .search_right {
              flex: 0 0 auto;
              flex-basis: 160px;
              // outline: 1px solid red;
            }
            .search_btn_content {
              flex: 0 0 auto;
              flex-basis: 135px;
              display: flex;
              align-items: center;
              // outline: 1px solid red;
              button {
                padding-left: 0;
                padding-right: 0;
                margin-right: 0;
                margin-left: 3px;
              }
              .tactics_btn {
                flex: 0 0 auto;
                flex-basis: 80px;
              }
              .addition {
                font-size: 0;
                background-image: url('../images/icon/icon_add2.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 14px;
                width: 40px;
                height: 40px;
                flex: 0 0 auto;
                flex-basis: 46px;
                // margin-right: 6px;
              }
              .minus {
                font-size: 0;
                background-image: url('../images/icon/icon_minus2.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 14px;
                width: 40px;
                height: 40px;
                flex: 0 0 auto;
                flex-basis: 46px;
                // margin-right: 6px;
              }
            }
            @media (max-width: 767px) {
              flex-wrap: wrap;
              padding-bottom: 0.5em;
              margin-bottom: 0.5em;
              border-bottom: 1px solid #ccc;
              .search_right {
                flex: 0 0 auto;
                flex-basis: calc(100% - 135px);
              }
            }
            @media (max-width: 380px) {
              .search_left {
                flex-basis: 100%;
              }
              .search_middle {
                flex-basis: 100%;
              }
            }
          }
        }
      }
      .advancedform {
        border: none;
        padding: 0;
        .form_content {
          max-width: 100%;
          flex-basis: 100%;
          .radio_grp {
            margin-left: 0;
          }
        }
        .advancedgroup {
          input {
            flex: 1 1 auto;
            flex-basis: calc(100% - 150px - 40px - 1.8em);
            max-width: calc(100% - 150px - 40px - 1.8em);
          }
          select {
            flex: 0 0 auto;
            flex-basis: 150px;
            max-width: 150px;
          }
          .addition {
            font-size: 0;
            background-image: url(../images/icon/icon_add2.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px;
            width: 40px;
            height: 40px;
            flex: 0 0 auto;
            flex-basis: 40px;
          }

          @include screen('xs_mobile') {
            flex-wrap: wrap;
            input {
              flex-basis: 100%;
              max-width: 100%;
              margin: 0 0 0.3em;
            }
            select {
              flex: 1 1 auto;
              flex-basis: 100%;
              max-width: 100%;
              margin: 0 0 0.3em;
            }
            .addition {
              flex-basis: 100%;
              margin: 0.5em 0;
            }
          }
        }
      }
      .advancedform2 {
        flex-basis: 100% !important;
        max-width: 100% !important;
        .form_grp {
          flex: 0 0 auto;
          flex-basis: 50%;
          &:nth-of-type(2) {
            flex-basis: 50%;
          }
          @media screen and (max-width: 992px) {
            flex-basis: 100%;
            &:nth-of-type(2) {
              flex-basis: 100%;
            }
          }
        }
      }
      .check_grp {
        input[type='checkbox'] {
          width: 1em;
          height: 1em;
          border-radius: 2px;
          margin: 0.3em;
        }
      }
      .keywordHot {
        flex: 1 1 100%;
        margin-top: 0.8em;
        ul {
          line-height: 1.65em;
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          list-style-type: none;
          li {
            margin: 0 0.2em 0.2em 0;
            padding: 0;
            flex: 0 0 auto;
            font-size: 1em;
            @include screen('xs_mobile') {
              flex-basis: 48%;
              margin: 0 1% 0.5em;
            }
            @media screen and (max-width: 480px) {
              flex-basis: 100%;
              margin: 0 0 0.5em;
            }
          }
          a {
            @include aSetting_nocolor;
            display: block;
            background-color: $color-gray;
            color: $color-dark;
            border-radius: 50px;
            padding: 0.2em 1em;
            transition: 0.5s;
            font-weight: bold;
            @include screen('xs_mobile') {
              text-align: center;
            }
            &:hover {
              background-color: $color-dark;
              color: #fff;
            }
          }
        }
      }
      .btn_grp {
        margin-bottom: 1em;
        .btn {
          min-width: 10em;
        }
      }
      .back_search {
        text-align: center;
        display: block;
        a {
          color: $color-dark;
          text-decoration: underline;
          &:hover {
            color: $aHover;
          }
        }
      }
    }
  }
}

//進階查詢
// .Search_block {
//   padding: 3.5em 0 7.8em;
//   @include screen('mobile') {
//     padding: 6em 0 7.8em;
//   }
//   .search_group {
//     width: 65%;
//     margin: 0 auto;
//     position: relative;
//     @include screen('tablet') {
//       width: 75%;
//     }
//     @include screen('mobile') {
//       width: 80%;
//     }
//     &:before {
//       content: '';
//       width: 364px;
//       height: 346px;
//       position: absolute;
//       bottom: -294px;
//       left: -188px;
//       background-image: url('../images/search_bg01.png');
//       background-repeat: no-repeat;
//       background-position: center;
//       z-index: 1;
//     }
//     h2 {
//       color: #fff;
//       font-size: 1.625em;
//       text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
//       margin: 0 0 0.3em 1.5em;
//       padding: 0;
//       span {
//         display: block;
//         color: $lightColor;
//         font-size: 0.688em;
//         padding: 0;
//       }
//     }
//     h3 {
//       color: $secondaryColor;
//       margin: 0 0 0.5em;
//       padding: 0;
//     }
//     .search_content {
//       background-color: #fff;
//       border-radius: 1.5em;
//       padding: 2.5em;
//       box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
//       label {
//         padding-left: 0;
//         line-height: 1.8em;
//       }
//       @include screen('xs_mobile') {
//         padding: 2.5em 2em;
//       }
//     }
//     .form_grp {
//       border: none;
//       padding: 0;
//       .form_content {
//         max-width: 100%;
//         flex-basis: 100%;
//         .radio_grp {
//           margin-left: 1em;
//         }
//       }
//     }
//     .searchsimple {
//       display: flex;
//       flex-wrap: wrap;
//       margin-top: 1em;
//       align-items: center;
//       position: relative;
//       .title {
//         clip: rect(1px, 1px, 1px, 1px);
//         clip-path: inset(50%);
//         height: 1px;
//         width: 1px;
//         margin: -1px;
//         overflow: hidden;
//         padding: 0;
//         position: absolute;
//       }
//       label {
//         margin-right: 0.2em;
//       }
//       input {
//         margin: 0;
//         padding: 0.25em 0;
//         box-shadow: none;
//         width: auto;
//         &[type='checkbox'] {
//           width: 1.3em;
//           height: 1.3em;
//           border-radius: 2px;
//           margin: 0.3em;
//         }
//         &[type='text'] {
//           flex: 0 0 auto;
//           flex-basis: calc(100% - 185px);
//           padding: 0.2em 0em 0.5em;
//           border: none;
//           font-size: 1.375em;
//           border-bottom: 2px solid #c4c4c4;
//           border-radius: 0;
//           @include screen('mobile') {
//             flex-basis: 100%;
//             width: 100%;
//             margin-bottom: 0.5em;
//             padding: 0.2em 0em;
//           }
//         }
//         &[type='submit'] {
//           padding: 0.2em 0;
//         }
//         &.btn-search {
//           font-size: 0;
//           background-image: url('../images/search_btn.png');
//           background-repeat: no-repeat;
//           background-position: center;
//           flex: 0 0 auto;
//           flex-basis: 40px;
//           width: 40px;
//           height: 40px;
//           background-color: transparent;
//           border: none;
//           margin-left: -40px;
//           @include screen('mobile') {
//             margin-top: -15px;
//           }
//           @media screen and (max-width: 380px) {
//             position: absolute;
//             top: 13px;
//             right: 0;
//           }
//         }
//         &:focus {
//           box-shadow: 0 0px 0px 2px $aFocus;
//         }
//       }
//       .advanced_btn {
//         flex: 0 0 auto;
//         flex-basis: 175px;
//         padding: 0.5em 1em 0.3em;
//         background-color: $secondaryColor;
//         border: 1px solid $secondaryColor;
//         color: #fff;
//         border-radius: 50px;
//         box-sizing: border-box;
//         line-height: 1.2em;
//         margin-left: 10px;
//         text-align: center;
//         font-size: 1.125em;
//         span {
//           display: block;
//           font-size: 0.875em;
//         }
//         @include screen('mobile') {
//           flex-basis: 100%;
//           padding: 0.5em 1em 0.5em;
//           margin: 0;
//         }
//         &:hover,
//         &:focus {
//           background-color: darken($secondaryColor, 8);
//           border: 1px solid darken($secondaryColor, 8);
//         }
//       }
//       .keywordHot {
//         flex: 1 1 100%;
//         margin-top: 0.8em;
//         ul {
//           line-height: 1.65em;
//           margin: 0;
//           padding: 0;
//           display: flex;
//           flex-wrap: wrap;
//           justify-content: flex-start;
//           list-style-type: none;
//           li {
//             margin: 0 0.2em 0.2em 0;
//             padding: 0;
//             flex: 0 0 auto;
//             font-size: 1em;
//             @include screen('xs_mobile') {
//               flex-basis: 48%;
//               margin: 0 1% 0.5em;
//             }
//             @media screen and (max-width: 480px) {
//               flex-basis: 100%;
//               margin: 0 0 0.5em;
//             }
//           }
//           a {
//             @include aSetting_nocolor;
//             display: block;
//             background-color: $color-gray;
//             color: $color-dark;
//             border-radius: 50px;
//             padding: 0em 1em;
//             transition: 0.5s;
//             font-weight: bold;
//             @include screen('xs_mobile') {
//               text-align: center;
//             }
//             &:hover {
//               background-color: $color-dark;
//               color: #fff;
//             }
//           }
//         }
//       }
//     }
//     .advancedform {
//       display: flex;
//       input {
//         flex-basis: calc(100% - 150px - 40px - 1.8em);
//         max-width: calc(100% - 150px - 40px - 1.8em);
//       }
//       select {
//         flex: 0 0 auto;
//         flex-basis: 150px;
//         max-width: 150px;
//       }
//       .addition {
//         font-size: 0;
//         background-image: url(../images/icon/icon_add2.svg);
//         background-repeat: no-repeat;
//         background-position: center;
//         background-size: 14px;
//         width: 40px;
//         height: 40px;
//         flex: 0 0 auto;
//         flex-basis: 40px;
//       }
//     }
//   }
// }
// 收錄資料類型
.Detatype_block {
  .container {
    background-image: url('../images/content_bg01.gif');
    background-repeat: repeat;
    background-position: 0 0;
    padding: 6em 0;
  }
  .data_type_group {
    text-align: center;
    h2 {
      color: $color-dark;
      display: inline-block;
      font-size: 1.625em;
      padding: 0 2.5em;
      border-right: 1px solid $color-dark;
      border-left: 1px solid $color-dark;
      letter-spacing: 0.2em;
      margin-bottom: 2em;
      position: relative;
      z-index: 1;
      transition: 0.5s;
      @media screen and (max-width: 400px) {
        padding: 0 1.5em;
      }
      span {
        display: block;
        color: $primaryColor;
        font-size: 0.688em;
        padding: 0;
        letter-spacing: 0;
      }
    }
    .data_type_content {
      display: flex;
      justify-content: center;
      padding: 0 6em;
      flex-wrap: wrap;
      @include screen('tablet') {
        padding: 0 5em;
      }
      @include screen('mobile') {
        padding: 0 3em;
      }
      @include screen('xs_mobile') {
        padding: 0 2em;
      }
      .data_type_list {
        flex: 0 0 auto;
        flex-basis: 46%;
        margin: 0.8em 2% 1.5em;
        background-color: $primaryColor;
        border-radius: 15px;
        padding-top: 0.6em;
        transition: 0.5s;
        @include screen('xs_mobile') {
          flex-basis: 100%;
          margin: 0.8em 0 1.5em;
        }
        a {
          display: block;
          padding: 1.5em 1.8em 1em;
          background-color: #fff;
          border-radius: 20px 20px 15px 15px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
          cursor: pointer;
          display: flex;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, #00468d 0px -0.7em 0px inset;
          }
          @include screen('mobile') {
            flex-wrap: wrap;
          }
          @include screen('xs_mobile') {
            flex-wrap: nowrap;
          }
          @media screen and (max-width: 380px) {
            flex-wrap: wrap;
          }
          .image {
            margin-bottom: 1.2em;
            flex: 0 0 28%;
            max-width: 28%;
            display: flex;
            align-items: center;
            @include screen('mobile') {
              flex: 0 0 100%;
              max-width: 100%;
              justify-content: center;
            }
            @include screen('xs_mobile') {
              flex: 0 0 28%;
              max-width: 28%;
            }
            @media screen and (max-width: 380px) {
              flex: 0 0 100%;
              max-width: 100%;
            }
            img {
              width: 80px;
              height: 74px;
            }
          }
          .content {
            flex: 1 1 auto;
            .title {
              font-size: 1.25em;
              color: $primaryColor;
              margin-bottom: 1em;
              font-weight: bolder;
              text-align: left;
              position: relative;
              span {
                background-color: #fff;
                padding: 0 0.5em;
                position: relative;
              }
              &:before {
                content: '';
                height: 1px;
                width: 100%;
                background-color: $primaryColor;
                position: absolute;
                top: 45%;
                left: 0;
                right: 0;
                z-index: 0;
              }
              @include screen('mobile') {
                text-align: center;
              }
              @include screen('xs_mobile') {
                text-align: left;
              }
              @media screen and (max-width: 380px) {
                text-align: center;
              }
            }
            .data_number {
              color: $secondaryColor;
              font-size: 2.5em;
              font-family: 'Amiko', sans-serif;
              text-align: right;
              @include screen('mobile') {
                text-align: center;
              }
              @include screen('xs_mobile') {
                text-align: right;
              }
              @media screen and (max-width: 380px) {
                text-align: center;
              }
            }
            p {
              color: $color-dark;
              overflow: hidden;
              text-overflow: -o-ellipsis-lastline;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              line-height: 1.5em; // X 填入行高 px 值
              height: calc(1.5em * 2);
              text-align: right;
              margin-bottom: 0;
              @include screen('mobile') {
                text-align: center;
              }
              @include screen('xs_mobile') {
                text-align: right;
              }
              @media screen and (max-width: 380px) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

// 最新資料消息
.Latest_block {
  .container {
    background-image: url('../images/latest_bg01.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #223470;
    position: relative;
    padding: 12em 0 4.5em;
    &:before {
      content: '';
      width: 100%;
      height: 316px;
      background-image: url('../images/latest_bg02.png');
      background-repeat: no-repeat;
      background-position: bottom center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .latest_group {
    display: flex;
    margin: 0 auto;
    position: relative;
    padding: 0 5em;
    justify-content: center;
    @include screen('tablet') {
      padding: 0 5em;
    }
    @include screen('mobile') {
      flex-wrap: wrap;
      padding: 0 4em;
    }
    @include screen('xs_mobile') {
      padding: 0 3em;
    }
    .latest_resources,
    .latest_news {
      flex: 0 0 auto;
      flex-basis: 50%;
      max-width: 50%;
      text-align: center;
      padding: 0 3em;
      @include screen('mobile') {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
      }
      h2 {
        color: #fff;
        font-size: 1.625em;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin: 0 0 1em 0;
        padding: 0;
        letter-spacing: 0.2em;
        span {
          display: block;
          color: $lightColor;
          font-size: 0.688em;
          padding: 0;
          letter-spacing: 0;
        }
      }
      .latest_resources_list,
      .latest_news_list {
        ul {
          margin: 0 0 1.5em;
          padding: 0;
          list-style-type: none;
          li {
            a {
              display: block;
              color: #fff;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              text-align: left;
              padding: 8px 0;
              time {
                margin-right: 1em;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .latest_resources {
      position: relative;
      @include screen('mobile') {
        margin-bottom: 3em;
        padding-bottom: 3em;
      }
      &:after {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        @include screen('mobile') {
          width: 100%;
          height: 2px;
          right: 0;
          left: 0;
          top: auto;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
