/* sitemap */

.sitemap {
  margin: 0px auto 1em;
  @extend %clearfix;
  p {
    line-height: 1.8;
    kbd {
      border: 1px solid #aaa;
      background: transparent;
      color: $color-word;
      padding: 0 0.3em;
      margin: 0 0.2em 0.1em;
      kbd {
        border: none;
      }
    }
  }
  .accesskeyDefine {
    padding: 1em 2em;
    background: #eee;
    border-radius: 6px;
    li {
      margin-bottom: 0.2em;
    }
  }
}

$sitemapLength: 5;
$sitemapWidth: calc(100% / $sitemapLength);
.cascading {
  border-top: 1px solid #ccc;
  @include gutter(0);
  box-sizing: border-box;
  display: block;
  padding-top: 2em;
  ul {
    @include li-reset;
  }
  li {
    line-height: 1.5;
    width: $sitemapWidth;
    display: inline-block;
    vertical-align: top;
    margin: 0 -5px 1em 0; // margin-right:改為負5;
    box-sizing: border-box;
    padding: 0px 0.5em;
    a {
      margin: 0.2em 0;
      color: #222;
      padding: 0.5em;
      display: block;
      font-size: 1.25em;
      font-weight: bold;
      border-bottom: 2px solid $primaryColor;
      &:hover,
      &:focus {
        color: $primaryColor !important;
        text-decoration: none;
      }
    }
    ul {
      padding-left: 1em;
      li {
        width: 100%;
        display: block;
        margin-bottom: 0;
        padding: 0;
        a {
          display: block;
          font-size: 1.063rem;
          padding: 0.3em 0;
          border-bottom: 1px dotted #ccc;
          background-color: transparent;
          font-weight: normal;
        }
      }
    }
  }
  @include screen('tablet') {
    li {
      width: calc(100% / 4);
    }
  }
  @include screen('mobile') {
    margin: 0px auto;
    li {
      width: 100%;
    }
  }
}
