* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $color-dark;
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}

// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  background-image: url('../images/wrapper_bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #dedede;
  @include screen('mobile') {
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
  .header {
    min-height: 147px;
    padding-bottom: 0.5em;
    @include screen('mobile') {
      height: auto;
      min-height: initial;
      padding-bottom: 0em;
    }
  }
  &.wrapper_mp {
    background-image: url('../images/wrapper_mpbg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #dedede;
    @include screen('tablet') {
      background-color: #18566d;
    }
  }
  &.wrapper_Advanced {
    background-image: url('../images/wrapper_mpbg2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #dedede;

    @include screen('tablet') {
      background-color: #174d65;
    }
    .innerpage {
      > .container {
        @include gutter(0); //gutter 代表左右要留白
        display: block;
        background-image: none;

        padding: 0 4em;
        @include screen('mobile') {
          padding: 5em 2em 0;
        }
        .breadcrumb {
          padding: 0em 0em 0em 1.5em;
          font-size: 1em;
          margin: 1em auto 0;
          background-image: url('../images/breadcrumb_icon02.png');
          background-repeat: no-repeat;
          background-position: left 5px;
          color: #fff;

          ul {
            @include li-reset;
            li {
              display: inline-block;
              margin: 0px 0.1em 0.1em 0px;
              color: #fff;
              &:before {
                @extend %slash;
                color: #fff;
              }
              &:first-child:before {
                content: '';
                display: inline-block;
                color: #fff;
                margin-left: 0;
                padding: 0;
              }
            }
          }
          a {
            @include aSetting_nocolor;
            color: #eee;
            &:hover {
              color: #fff;
            }
          }
        }
        h2 {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
}

.main {
  position: relative;
  margin: 0 auto;
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  h2 {
    line-height: 1.25em;
  }
  .accesskey {
    color: #dedede;
    &:focus {
      color: #222;
    }
    @media screen and (max-width: 1230px) {
      color: #215f8f;
      &:focus {
        color: #fff;
      }
    }
  }
  &.small_size {
    font-size: 0.938em;
  }
  &.large_size {
    font-size: 1.125em;
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  > .container {
    @include gutter(); //gutter 代表左右要留白
    display: flex;
    background-image: url('../images/content_bg01.gif');
    background-repeat: repeat;
    background-position: 0 0;
    padding: 2em 4em;
    @include screen('mobile') {
      padding: 5em 2em 2em;
    }
    h2 {
      position: relative;
      margin-bottom: 0.4em;
      &.title {
        line-height: 1.25em;
        font-size: 1.625em;
        padding-left: 1em;
      }
      &:before {
        content: '';
        width: 5px;
        height: 26px;
        background-color: #333;
        position: absolute;
        left: 0;
        top: 3px;
      }
    }
  }
  .center_block {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }
  .left_block {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;
    &.hidden {
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    + .center_block {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }
    @include screen('tablet') {
      display: none;
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}

.hidden {
  display: none;
}

.word_red {
  color: $color-red;
  padding: 0 0.1em;
}
.keywords_bg {
  background-color: lighten($color: $color-yellow, $amount: 30);
  padding: 0 0.1em;
}
.lp {
  position: relative;
}

.label_hide {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
